# Dependencies
node_modules/

# Local SQLite Database
tasks.db
tasks.db-journal
tasks.db-wal
tasks.db-shm

# Environment Variables (Keep .env secret, track .env.example)
.env
!.env.example

# User Storage & Uploads
bkg-image/*
!bkg-image/.gitkeep
uploads/**/*
!uploads/**/
!uploads/**/.gitkeep

# System & OS Files
.DS_Store
Thumbs.db
